@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.kanji-card .card:hover {
  cursor: pointer;
  width: 180px;
  height: 180px;
  background-color: #008080;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}


.kanji-card {
  display: flex;
  justify-content: center;
}

.kanji-card .card {
  width: 150px;
  height: 160px;
}
.kanji-card .card:hover .card-title, 
.kanji-card .card:hover .card-text {
  color: #ffffff;
}


.kanji-card .card-title {
  font-size: 70px !important;
}

.kanji-card .card-text {
  font-size: 20px !important;
}
.logo{
  transform: translateX(-25px);
}
